.card {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 250px;
  width: 250px;
  min-width: 75px;
  padding: 1.5rem;

  border-radius: 16px;
  background: #FF1211;
  /* box-shadow: -1rem 0 3rem #000; */

  transition: .3s;
}

.card:hover {
  transform: translateY(-1rem);
}

.card:hover~.card {
  transform: translateX(1rem);
}

.card:not(:first-child) {
  margin-left: -150px;
}
